* {
    bg0:    #1e1c18e0;
    bg1:    #1e1c18e0;
    bg2:    #c0501a;
    bg3:    #c0501a;
    bg4:    #1e1c18;
    fg0:    #c0501a;
    fg1:    #c0501a;
    fg2:    #c0501a;
    fg3:    #c0501a;
}

@import "templates/default.rasi"

element selected {
    text-color: @bg1;
}
